h1 {
  text-align: center;
  color: white;
}

#history {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 200px;
}

.history-card {
  border-radius: 8px;
  height: 50px;
  padding: 5px;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 50px;
}

.history_name{
  color: white;
}

.history-card:hover {
  transform: scale(1.05);
}

.history-card h3 {
  margin-top: 0;
  color: black;
}

.history-detail {
  width: 600px;
  margin: 50px 400px;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.bot-message {
  color: green;
  margin: 10px 0 0;
  text-align: center;
}
.title {
  color: black;
}
